html,
body {
  box-sizing: border-box;
  background-color: rgb(241, 242, 244);
}
  /* Apply a global box-sizing to all elements */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    flex-wrap: wrap;
  }

  body {
    background-image: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    flex-wrap: wrap;
  }

  .spinner-container {
    display: flex !important;
    justify-content: center !important;
    /* Horizontally center */
    align-items: center !important;
    /* Vertically center */
    height: 100vh !important;
    width: 100% !important;
    text-align: center !important;
    /* Set the container height to full viewport height */
  }

  .spinner-border {
    display: flex !important;
    justify-content: center !important;
    /* Horizontally center */
    align-items: center !important;
    /* Vertically center */
    height: 10vh !important;
    width: 30% !important;
    text-align: center !important;
  }



  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }